In [6]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder

obj = {
    "Class": ['A', 'B', 'A', 'C', 'E', 'D', 'D', 'A', 'F']
}

df = pd.DataFrame(obj)

encoder = LabelEncoder()
encoder.fit(df.Class) # encoder.fit(df["Class"])
labels = encoder.transform(df.Class)

df["to_수치형데이터"] = labels

df

  Class  to_수치형데이터
0     A          0
1     B          1
2     A          0
3     C          2
4     E          4
5     D          3
6     D          3
7     A          0
8     F          5

In [10]:
obj2 = {
    "과일": ['사과', '포도', '수박', '딸기', '배', '사과', '사과', '수박']
}

df2 = pd.DataFrame(obj2)

encoder = LabelEncoder()
encoder.fit(df2)
labels2 = encoder.transform(df2)

df2["to_수치데이터"] = labels2 
df2

c:\Users\HRD영대\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:97: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\Users\HRD영대\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

   과일  to_수치데이터
0  사과         2
1  포도         4
2  수박         3
3  딸기         0
4   배         1
5  사과         2
6  사과         2
7  수박         3

In [14]:
import numpy as np 

conditionList = [
    (df["Class"] == "A"),
    (df["Class"] == "B"),
    (df["Class"] == "C"),
    (df["Class"] == "D"),
    (df["Class"] == "E"),
    (df["Class"] == "F"),
]

choiceList = list(range(6))

np_labels = np.select(condlist=conditionList, choicelist=choiceList)

df["Numpy_수치형데이터"] = np_labels
df

  Class  to_수치형데이터  Numpy_수치형데이터
0     A          0             0
1     B          1             1
2     A          0             0
3     C          2             2
4     E          4             4
5     D          3             3
6     D          3             3
7     A          0             0
8     F          5             5